.movie-body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 10px;
    grid-gap: 2%;
    justify-items: center;
    /* background-color: antiquewhite; */
    padding-top: 10px;
    /* margin-bottom: 50%; */
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    padding-bottom: 5rem;
}
.search-post{
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
    align-items: center;
}
h2{
    color: aliceblue;
}
.datano{
    margin-top: 3rem;
    height: 90vh;
}
#nodata{
    height: 300px;
}