*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.post{
    border-radius: 10px;
    width:100%;
    color: aliceblue;
    background:  #232B2B;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.info .username{
    width: auto;
    font-weight: bold;
    font-size: 14px;
}

.post-image{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.post-content{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 1.95px;
    width: 100%;
    padding: 20px;
}
.description{
    font-size: 14px;
    line-height: 20px;
}
.post-time{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    text-align: right;
}
.comment{
    width: 100%;
    height: 30px;
    border-radius: 1px solid #DADFF7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;

}
.comment-btn1{
    width: 70px;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0, 162, 255);
    /* opacity: 0.5; */
}
.comment-btn2{
    width: 70px;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(255, 0, 0);
    /* opacity: 0.5; */
}

.desc{
    padding-right: 10px;
}
#insta{
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
