@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

.nav {
    width: 100%;
    position: sticky;
    /* border: 2px solid white; */
    background-color: #232B2B;
    height: fit-content;
    top: 0px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
    border-radius: 9px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    text-decoration: none;
    color: rgb(25, 102, 168);
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

.options {
    display: flex;
    list-style-type: none;
    color: aliceblue;
    font-size: 20px;
    /* margin: 0 auto; */
}

.options li {
    padding-left: 20px;
    padding-right: 20px;
}

#search {
    cursor: pointer;
    padding: 6px;
    border: none;
    /* border-radius: 10px; */
}

#btn {
    border: none;
    padding: 6px;
    border-radius: 2px;
    color: #ffffff;
    margin-left: 6px;
    transition-duration: 0.4s;
    background-color: #4CAF50;
}

#btn:hover {
    background-color: #ffffff;
    /* Green */
    color: #343434;
}

.nav img {
    /* padding-left: 10px; */
    width: 50px;
    object-fit: cover;
    /* padding-right: 10px; */
}

span {
    align-items: center;

}